body {
    font-family: 'Open Sans', sans-serif !important;
    color: $color-base;
    background-color: $color-background;
}

h5, h4 {
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
}

.form-control,
.custom-select {
    &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $color-gray;
    }
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

a {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

label {
    font-weight: bold;
    text-transform: uppercase;
}

.font-small {
    font-size: 0.8rem;
}

.linethrough {
    //TODO: fjarlægja span
    color: $color-red;
    text-align: center;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 45%;
        height: 1px;
        background-color: $color-blue;
    }
    &>span {
        padding: 0 20px;
        background-color: $color-background;
        position: relative;
        z-index: 1000;
    }
}

@mixin card-deck-column-count($count: 3) {
    flex: 0 0 calc(100% / #{$count} - #{$card-deck-margin} * 2);
}

#deliveryCards.card-deck {
    .card {
        @include media-breakpoint-up(sm) {
            @include card-deck-column-count(1);
            margin-bottom: 15px;
        }
        @include media-breakpoint-up(md) {
            @include card-deck-column-count(1);
            margin-bottom: 15px;
        }
        @include media-breakpoint-up(lg) {
            @include card-deck-column-count(3);
        }
        @include media-breakpoint-up(xl) {
            @include card-deck-column-count(3);
        }
    }
}

#deliveryCardsSend.card-deck {
    .card {
        @include media-breakpoint-up(sm) {
            @include card-deck-column-count(1);
            margin-bottom: 15px;
        }
        @include media-breakpoint-up(md) {
            @include card-deck-column-count(1);
            margin-bottom: 15px;
        }
        @include media-breakpoint-up(lg) {
            @include card-deck-column-count(2);
        }
        @include media-breakpoint-up(xl) {
            @include card-deck-column-count(2);
        }
    }
}