// project variables
$color-base: #444444;
$color-background: white;
$color-red: #d02314;
$color-gray: rgb(208, 208, 208);
$color-blue: rgb(154, 196, 218);
$color-dark: rgb(0, 86, 111);
$color-light: #85a1b2;

// Bootstrap overrides
$enable-rounded: false;

$primary: $color-red;
$dark: $color-dark;

$text-muted: $color-light;

$input-btn-padding-x: 1rem;

$breadcrumb-divider: quote("-");